*{
    margin: 0;
    padding: 0;
}

pre{
    margin-top: 20px;
}
#wrapper{
    width: 85%;
    margin: 20px auto;
}
.questions{
    font-weight: bold;
    margin-top: 30px;
}

.answers{
    margin-top: 5px;
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.yellow{
    background-color: yellow;
}

.red{
    color: red;
}

/* HTML Forms */
form{
    background-color: rgba(202, 198, 198, 0.521);
    width: 600px;
}

fieldset{
    padding: 10px;
}

form div{
    margin: 15px 5px;
}

input[type=submit], input[type=reset]{
    margin: 5px auto
}
