*{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none;
}

figure img{
    width: 320px;
}

/* UTILITIES */
.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

.caps{
    text-transform: uppercase;
}
.red{
    color: red;
}

.border{
    border: 1px solid;
}

.white{
    color: whitesmoke;
}

.yellow{
    color: yellow;
}

.purple{
    color: purple;
    background-color: seagreen;
}

.orange_bg{
    background-color: rgb(221, 81, 16);
}

/* Body Section */

#wrapper{
    width: 85%;
    margin: 0px auto;
}

.logo img{
    width: 150px;
}


main div .assignments, main section .assignments{
    /* border-bottom: 2px solid blue; */
    margin-top:10px;
    background-color: blanchedalmond;
}

.assignments{
    margin-top: 10px;
}

.assignments ul{
    margin-left: 50px;
}

.results{
    margin-top: 10px;
}