/* 
Achtergrond kleur: rgb(128, 179, 128) 
Text kleuren: rgb(97, 135, 216), rgb(128, 179, 128) 
Icons: https://lineicons.com/icons/ 
Font: <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
font-family: 'Lobster', cursive; 
Dummy teksten: https://www.lipsum.com/ 
Voor responsive design, zie 
 */

 *{
    margin: o;
    padding: 0;
 }